<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/159_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_228_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/268_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/246.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/116_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/45_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/68_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/71_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/196_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/101_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/170_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_45_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_268_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/181_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_289_right_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/71_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_52_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/65_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/110_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/170_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_1_variant_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/271_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/171_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_1_variant_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_8.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/68_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/101_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_71_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/285.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/68_5.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/144_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_5.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/199_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_7.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/199_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/116_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/65_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/105_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_182_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_216_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/116_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_52_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/183_22_level.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/52_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_65_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/196_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_196_left_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/246.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_1_variant_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/181_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/170_1_pOjg3XX.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_151_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/181_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/23_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_68_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/45_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_6.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/234_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/246.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/153_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/181_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_289__left_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/196_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/55_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_5.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/52_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/195_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/144_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/285.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/189_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/144_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/199_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/09_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/116_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_246__left_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/114_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/190_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_116_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/105_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/183_12_level.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/183_32_level.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/159_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/181_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/153_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/211_1_cRAn81U.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/71_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_5.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/151.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/289.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_181_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/52_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/55_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/211_1_cRAn81U.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/55_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/45_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_289__left_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/41_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_234_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/181_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_101_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/09_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_52_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/234_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/228_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/195_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/09_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/195_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_114_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/216_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_75_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/234_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_144_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/171_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/189_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/189_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/199_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_105_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/41_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/114_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_246__left_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_9.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/289.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/195_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_211_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/41_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/159_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_183__2_level_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_285_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/110_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_228_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/55_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_153_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/09_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/101_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/271_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/182_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/153_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/181_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/289.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/228_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_9.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/68_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/67_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_41_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_8.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/234_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/196_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/75_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/216_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_159_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_6.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/216_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/171_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/144_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_171_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_189_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_199_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/75_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_09_3_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_211_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/23_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_195_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/67_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/55_5.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/289.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/268_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/183_21_level.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/110_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_246__right_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/110_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/67_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/271_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/171_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_7.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/271_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_5.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/151.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/190_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/182_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/45_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/55_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/68_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/23_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/101_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_23__right_leg_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/23_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/216_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_71_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_196_right_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_75_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_67_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/170_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/105_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/67_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/181_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/268_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/189_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/65_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/45_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_55_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/09_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/268_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/114_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/45_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/182_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/41_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/195_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_289_right_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/246.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_110_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_246__right_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/71_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_271_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/45_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/190_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_190_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_23__left_leg_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_181_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/75_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/182_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/68_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/159_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/65_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_45_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/105_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/45_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_4.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/101_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/199_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/65_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/52_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_71_mini.mp4</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/105_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/211_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/190_3.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_covers/216_1.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_images/1242x/228_2.jpg</string>
	<string>http://master.super5.huskyjam.com/media/exercise_videos/Fitness_170_mini.mp4</string>
</array>
</plist>
